<!DOCTYPE html>
<html>
<head>
    <title>ユーザー管理</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <script>
        const current_user_name = "{{ username }}";
        const page_language = "jp";
    </script>
</head>
<body>
    <div class="header-container">
        <h1>ようこそ, {{ username }}さん!</h1>
        <form action="/logout" method="post">
            <input type="submit" value="ログアウト">
            <input type="hidden" name="lang" value="jp">
        </form>
        <nav>
            <a href="/home-jp?username={{ username }}&role={{ role }}&password={{ password }}" id="homeLink">ホーム</a>
        </nav>
        <a class="JPpage" href="/project-en?username={{ username }}&role={{ role }}&password={{ password }}&lang=en">英語</a>
    </div>
    <div class="container">
        {% if role == 'sysadmin' %}
        <p>あなたはシステム管理者です。</p>
        {% endif %}
        
        <p>新規プロジェクト作成：</p>
            <form action="/sysadmin_create_project" method="post">
                <input type="hidden" name="username" value="{{ username }}">
                <input type="hidden" name="role" value="{{ role }}">
                <input type="hidden" name="password" value="{{ password }}">
                <input type="hidden" name="lang" value="jp">

                <label for="newproject_name">プロジェクト名：</label>
                <input type="text" id="newproject_name" name="newproject_name" required>

                <label for="newproject_description">プロジェクト内容：</label>
                <textarea id="newproject_description" name="newproject_description" rows="4" required></textarea>

                <label for="newproject_startdate">開始日：</label>
                <input type="date" id="newproject_startdate" name="newproject_startdate" required>

                <label for="newproject_enddate">締切日：</label>
                <input type="date" id="newproject_enddate" name="newproject_enddate" required>

                <label for="newproject_starttime">開始時間：</label>
                <input type="time" id="newproject_starttime" name="newproject_starttime" value="09:00" required>

                <label for="newproject_endtime">終了時間：</label>
                <input type="time" id="newproject_endtime" name="newproject_endtime" value="16:00" required>

                <label for="newproject_status">状態：</label>
                <select id="newproject_status" name="newproject_status">
                    <option value="scheduled">予定</option>
                    <option value="ongoing">進行中</option>
                    <option value="Requirements_Definition">要件定義</option>
                    <option value="Basic_Design">基本設計</option>
                    <option value="Detailed_Design">詳細設計</option>
                    <option value="Programming">プログラミング</option>
                    <option value="Unit_Testing">単体テスト</option>
                    <option value="Integration_Testing">結合テスト</option>
                    <option value="System_Testing">システムテスト</option>
                </select>
                <label for="project_manager_names">プロジェクトマネージャー(カンマで区切って複数記入可):</label>
                <input type="text" id="project_manager_names" name="project_manager_names" placeholder="マネージャー名を入力" required>
            
                <input type="submit" value="プロジェクト作成" id="btn-id">
            </form>

            {% if sysadmin_createproject_message %}
                <div class="message {% if sysadmin_createproject_success %}success{% else %}error{% endif %}">
                    {{ sysadmin_createproject_message }}
                </div>
            {% endif %}

            <p>プロジェクトマネージャーをプロジェクトから退任させる：</p>
            <form action="/sysadmin_retire_project_manager" method="post">
                <input type="hidden" name="username" value="{{ username }}">
                <input type="hidden" name="role" value="{{ role }}">
                <input type="hidden" name="password" value="{{ password }}">
                <input type="hidden" name="lang" value="jp">

                <label for="retireprojectmanager_name">プロジェクトマネージャー名：</label>
                <input type="text" id="retireprojectmanager_name" name="retireprojectmanager_name" required>

                <label for="retireproject_name">プロジェクト名：</label>
                <input type="text" id="retireproject_name" name="retireproject_name" required>
            
                <input type="submit" value="クビ" id="btn-id">
            </form>
            
            {% if sysadmin_retireprojectmanager_message %}
                <div class="message {% if sysadmin_retireprojectmanager_success %}success{% else %}error{% endif %}">
                    {{ sysadmin_retireprojectmanager_message }}
                </div>
            {% endif %}


            <p>プロジェクトマネージャをプロジェクトに割り当てる：</p>
            <form action="/sysadmin_assign_project_manager" method="post">
                <input type="hidden" name="username" value="{{ username }}">
                <input type="hidden" name="role" value="{{ role }}">
                <input type="hidden" name="password" value="{{ password }}">
                <input type="hidden" name="lang" value="jp">

                <label for="assignprojectmanager_name">プロジェクトマネージャー名：</label>
                <input type="text" id="assignprojectmanager_name" name="assignprojectmanager_name" required>

                <label for="assignproject_name">プロジェクト名：</label>
                <input type="text" id="assignproject_name" name="assignproject_name" required>
            
                <input type="submit" value="割り当てる" id="btn-id">
            </form>
                
            {% if sysadmin_assignprojectmanager_message %}
                <div class="message {% if sysadmin_assignprojectmanager_success %}success{% else %}error{% endif %}">
                    {{ sysadmin_assignprojectmanager_message }}
                </div>
            {% endif %}
    </div>
    <script src="/static/js/home.js"></script>
</body>
</html>